li {
    margin: 1.5vw;
    font-size: 1rem !important;
    font-weight: 2vw !important;
}

ul {
    list-style: none;
    width: auto !important;
}

.submit_btn {
    text-align: center;
    height: 3vw;
    width: 10vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 8vw;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    background-color: lightblue;
    padding: 0;
}

.submit_btn:hover {
    background-color: rgb(103, 208, 243);
}

.navbar {
    background-color: #fff !important;
    font-size: 1.5vw;
    position: fixed;
}

.navbar>ul>li:hover {
    color: #042A38;
    text-decoration: underline;
    font-weight: bold;
    cursor: default;
    cursor: pointer;
}

.navbar>ul>li>a:hover {
    color: #042A38;
    text-decoration: underline;
    font-weight: bold !important;
}

a {
    text-decoration: none;
    color: #042A38;
}

.prof {
    top: 5vw;
    position: fixed;
    width: 35vw !important;
    height: 15vw !important;
    margin-left: 34vw !important;
    margin-right: 20vw !important;
    background-color: #fff !important;
    border-radius: 10px;
    margin-top: 0.5rem;
    z-index: 1;
    padding: 1vw;
    padding-left: 1vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.container1 {
    color: #042A38;
    font-size: 15px;
    line-height: 0.3rem;
    grid-column: 1;
}

.container2 {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 3rem;
    margin-top: 3.5rem;
    border: 0.1rem solid black;
    grid-column: 2;
}

#score {
    top: 3vw;
    position: fixed;
    width: 50vw !important;
    margin-left: 25vw !important;
    margin-right: 25vw !important;
    background-color: #fff!important;
    display: none !important;
    border-radius: 10px;
    margin-top: 2vw;
    z-index: 1;
    padding: 1vw;
    padding-left: 2vw;
    color: #042A38;
}

input {
    margin: 1vw;
}

*/ #btn {
    height: 3vw;
    width: 10vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid black;
    background-color: lightblue;
}

table {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    align-content: center;
    border: 1px solid black;
}

thead {
    font-weight: 900;
    font-size: 1.5vw;
}

td {
    width: auto;
    border: 1px solid black;
    text-align: center;
    height: 4vw;
    font-weight: bold;
}

#tq {
    text-decoration: underline;
}

#sc {
    width: 100% !important;
    margin: 0%;
    color: #042A38;
}